<!DOCTYPE html>
<html ng-app="angularApp">

    <head>
        <meta charset="utf-8" />
        <title>AngularJS Test App</title>
        <script src="vendor/angular.min.js"></script>
        <script src="vendor/angular-resource.min.js"></script>
        <script src="script/app.js"></script>
    </head>

    <body ng-controller="MainCtrl">
        <div>
            <h2>1: Parsing (Sans et Avec ng-app)</h2>
            {{1 + 1}}
            
            <h2>2: Binding</h2>
            <input type="text" ng-model="something" placeholder="Enter what you want"> --> {{something}}
            
            <h2>3: Directives (ngRepeat)</h2>
            <h4>Employees</h4>
            <employee-table></employee-table>
            
            <h2>4: Advance binding</h2>
            <form>
                <input type="text" ng-model="form.name" placeholder="Name"/>
                <input type="text" ng-model="form.skills" placeholder="Skills"/>
                <input type="text" ng-model="form.salary" placeholder="Salary"/>
                <button type="submit" ng-click="addEmployee()">Add</button>
            </form>
            
        </div>
    </body>
    
</html>

<input type="search" ng-model="query" placeholder="Filter..." />
<table>
    <thead>
        <tr>
            <th>#</th>
            <th><a href="" ng-click="predicate='name';reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="predicate='skills';reverse=!reverse">Skills</a></th>
            <th><a href="" ng-click="predicate='salary';reverse=!reverse">Salary</a></th>
        </tr>
    </thead>
    
    <tbody>
        <tr ng-repeat="employee in employees | filter:query | orderBy:predicate:reverse">
            <td>{{$index}}</td>
            <td><input type="text" ng-model="employee.name"/></td>
            <td><input type="text" ng-model="employee.skills"/></td>
            <td><input type="text" ng-model="employee.salary"/></td>
            <td><a href="#" ng-click="employees.splice($index, 1);">x</a></td>
        </tr>
    </tbody>
</table>